<section class="signup-form">
    <form  fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="10px" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" matInput placeholder="Seu E-mail" ngModel name="email" required email #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">O campo não pode ser vazio</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Digite um e-mail válido</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="O campo de conter ao menos 6 caracteres">
            <input type="password" matInput placeholder="Senha" ngModel name="senha" required minlength="6" #pwInput="ngModel">
            <mat-error *ngIf="pwInput.hasError('required')"> A senha não pode ser menor que 6 caracteres</mat-error>
            <mat-hint align="end">{{pwInput.value?.length}} /6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Sua data de nascimento" type="text" ngModel name="nascimento" required>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="aceito" required color="primary" >Eu Aceito o termos de condições de uso.</mat-checkbox>
        <button type="submit"  mat-raised-button color="primary" [disabled]="f.invalid"> Enviar</button>
    </form>
</section>