<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <h1>ATIVIDADES</h1>
        <p>Tem atividade para melhorar a saude e muita diversão</p>
    </section>
    <section>
        <h1>COMUNIDADE</h1>
        <p>Conheça outras paeeoas com quem possa compartilhar sua paixão</p>
    </section>
    <section>
        <h1>Disafios</h1>
        <p>Nunca pare! Faça um novo disafio todos os dias. </p>
    </section>
</div>