<section class="form-login">
    <form  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field>
            <input type="email" matInput placeholder="Digite seu E-mail:"  name="email" required  formControlName="email">
            <mat-error >O campo não pode ser vazio</mat-error>
            <mat-hint>Digite um e-mail valído</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" name="senha" required  formControlName="senha">
            <mat-error> A senha não pode ser menor que 6 caracteres</mat-error>
            <mat-hint align="end">Digite pelo menos 6 caracteres</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid"> Enviar </button>
    </form>

</section>
