<h1>Meus produtos</h1>
<form (ngSubmit)="onAddProduto(f)" #f="ngForm">
    <input type="text" ngModel name="produtosNome" required autocomplete="false"><br>
    <br>
    <button type="submit"> Muda nome do produto</button><br>
</form>
<app-produto (click)="onRemoveProduto(produto)" *ngFor="let produto of produtos" [nomeproduto]="produto"></app-produto>
